.MovieListWrapper {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.MovieListWrapper > h2 {
  font-size: 1.7rem;
  border-left: 2px solid rgba(255, 255, 255, 0.65);
  padding-left: 1rem;
}
.MovieListWrapper > .subtitle {
  font-size: 13px;
  margin-left: 2rem;
}
.slider {
  position: relative;
}
.list_posters {
  width: 100%;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px 0 20px 20px;
  scroll-behavior: smooth;
  max-height: 144px;
}
.list_posters {
  object-fit: contain;
  width: 100%;
  margin-right: 10px;
  transition: transform 450ms;
  border-radius: 4px;
}
.list_posters::-webkit-scrollbar {
  display: none;
}
.list_posters > img {
  width: 250px;
  object-fit: cover;
  transition: 400ms ease;
  cursor: pointer;
}
.list_posters > img:hover {
  transform: scale(1.08);
}

@media screen and (min-width: 1200px) {
  .list_posters {
    max-height: 250px;
  }
}
@media screen and (max-width: 768px) {
  .list_posters {
    max-height: 280px;
  }
  .MovieListWrapper > .subtitle {
    display: none;
  }
}

/* Swiper JS Styling */
.swiper-pagination {
  text-align: right !important;
}
.swiper-pagination-bullet {
  background: gray !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active {
  background-color: gray !important;
}
.swiper-pagination-bullet-active:hover {
  background-color: white !important;
}
.swiper-button-next,
.swiper-button-prev {
  color: gray !important;
  transition: 400ms ease-in-out !important;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: white !important;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1.5rem !important;
  font-weight: 600 !important;
}
.swiper-slide {
  box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px,
    rgb(0, 0, 0, 0.73) 0px 16px 10px -10px !important;
}
